.image {
   overflow: hidden;
   position: relative;
   &.mt-100 {
      margin-top: 100px;
   }

   &__step {
      position: absolute;
      display: block;
      width: 71px;
      height: 110px;
      background: $bg;
      z-index: 5;
      opacity: 0;
   }

   &--1 {
      .image__step {
         opacity: 1;
      }
      .image__step-1 {
         bottom: 0;
         left: 0;
      }
      .image__step-2 {
         bottom: 0;
         left: 70px;
      }
      .image__step-3 {
         left: 0;
         bottom: 109px;
      }
   }
   &--2 {
      .image__step {
         opacity: 1;
      }
      .image__step-1 {
         top: 0;
         right: 0;
      }
      .image__step-2 {
         top: 0;
         right: 70px;
      }
      .image__step-3 {
         right: 0;
         top: 109px;
      }
   }
   &--3 {
      .image__step {
         opacity: 1;
      }
      .image__step {
         width: 110px;
         height: 71px;
      }
      .image__step-1 {
         bottom: 0;
         right: 0;
      }
      .image__step-2 {
         right: 0;
         bottom: 70px;
      }
      .image__step-3 {
         bottom: 0;
         right: 109px;
      }
   }
   &--4 {
      .image__step {
         width: 110px;
         height: 71px;
         opacity: 1;
      }
      .image__step-1 {
         top: 0;
         left: 0;
      }
      .image__step-2 {
         left: 0;
         top: 70px;
      }
      .image__step-3 {
         top: 0;
         left: 108px;
      }
   }
   &--5 {
      .image__step {
         width: 110px;
         height: 71px;
         opacity: 1;
      }
      .image__step-1 {
         top: 0;
         right: 0;
      }
      .image__step-2 {
         top: 0;
         right: 109px;
      }
      .image__step-3 {
         top: 70px;
         right: 109px;
      }
   }
   &--6 {
      .image__step {
         width: 110px;
         opacity: 1;
         height: 71px;
      }
      .image__step-1 {
         bottom: 0;
         left: 0;
      }
      .image__step-2 {
         bottom: 0;
         left: 109px;
      }
      .image__step-3 {
         bottom: 70px;
         left: 109px;
      }
   }
}
.image-large {
   position: relative;
   overflow: hidden;
   &.mt-100 {
      margin-top: 100px;
   }
   &__slide {
      width: 100%;
      height: 100%;
   }
   &__step {
      position: absolute;
      display: block;
      width: 71px;
      height: 110px;
      background: $bg;
      z-index: 5;
   }

   &--1 {
      .image__step {
         opacity: 1;
      }
      .image-large__step-1 {
         bottom: 0;
         left: 0;
      }
      .image-large__step-2 {
         bottom: 0;
         left: 70px;
      }
      .image-large__step-3 {
         left: 0;
         bottom: 109px;
      }
   }
   &--2 {
      .image__step {
         opacity: 1;
      }
      .image-large__step-1 {
         top: 0;
         left: 0;
      }
      .image-large__step-2 {
         top: 0;
         left: 70px;
      }
      .image-large__step-3 {
         top: 109px;
         left: 70px;
      }
   }
   &--3 {
      .image__step {
         opacity: 1;
      }
      .image-large__step {
         width: 110px;
         height: 71px;
      }
      .image-large__step-1 {
         right: 0;
         bottom: 0;
      }
      .image-large__step-2 {
         right: 0;
         bottom: 70px;
      }
      .image-large__step-3 {
         bottom: 0;
         right: 109px;
      }
   }
   &--4 {
      .image__step {
         opacity: 1;
      }
      .image-large__step-1 {
         top: 0;
         right: 0;
      }
      .image-large__step-2 {
         top: 0;
         right: 70px;
      }
      .image-large__step-3 {
         right: 0;
         top: 109px;
      }
   }
   &--5 {
      .image__step {
         opacity: 1;
      }
      .image-large__step {
         width: 110px;
         height: 71px;
      }
      .image-large__step-1 {
         top: 0;
         left: 0;
      }
      .image-large__step-2 {
         left: 0;
         top: 70px;
      }
      .image-large__step-3 {
         top: 0;
         left: 109px;
      }
   }
   &--6 {
      .image__step {
         opacity: 1;
      }
      .image-large__step {
         width: 110px;
         height: 71px;
      }
      .image-large__step-1 {
         left: 0;
         bottom: 0;
      }
      .image-large__step-2 {
         left: 0;
         bottom: 70px;
      }
      .image-large__step-3 {
         bottom: 0;
         left: 109px;
      }
   }
   &--7 {
      .image__step {
         opacity: 1;
      }
      .image-large__step-1 {
         bottom: 0;
         right: 0;
      }
      .image-large__step-2 {
         bottom: 0;
         right: 70px;
      }
      .image-large__step-3 {
         right: 0;
         bottom: 109px;
      }
   }
}
.search {
   width: fit-content;
   display: flex;
   align-items: center;
   position: relative;
   &.active {
      .search__input {
         width: 305px;
         padding: 6.7px 10px;
         visibility: visible;
         height: 35px;
      }
      .search__icon {
         right: 9px;
      }
      .search__text {
         transition: 0.5s ease-out;
         transform: translateY(30px);
      }
   }
   &__btn {
      min-width: 112px;
      width: fit-content;
      height: 35px;
      position: relative;
      z-index: 30;
      background: $bg;
      overflow: hidden;
   }

   &__text {
      transform: translateY(0px);
      transition: 0.5s ease-out;
   }

   &__icon {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: -30px;
      transition: 0.5s ease-out;
   }

   &__input {
      // width: 100%;
      // max-width: 305px;
      width: 0px;
      background: #ffffff;
      border: 2px solid #000;
      font-size: 14px;
      padding: 7px 10px;
      padding: 7px 0;
      margin-left: -1px;
      position: absolute;
      top: 0;
      left: 100%;
      z-index: 20;
      visibility: hidden;
      transition: 1s ease-out;
   }
}
.menu {
   &__btn {
      display: none;
   }

   &__list {
   }

   &__item {
   }

   &__link {
      font-family: "Bellefair";
      font-size: 28px;
      cursor: pointer;
      transition: 0.1s ease;
      &.active,
      &:hover {
         color: $pink;
      }
   }
}
.page {
   overflow: hidden;
   height: 100vh;
   padding: 136px 0;
   display: flex;
   align-items: stretch;
   @media (max-width: 767.98px) {
      padding: 30px 0;
   }
   & > .container {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      @media (max-width: 767.98px) {
         display: block;
      }
   }
   &__content {
      position: relative;
      width: 100%;
      display: flex;
      &::before,
      &::after {
         content: "";
         position: absolute;
         z-index: 50;
         top: 0;
         bottom: 0;
         width: 2px;
         background: #000000;
      }
      &::before {
         left: 0;
      }
      &::after {
         right: 0;
      }
      @media (min-height: 1200px) {
         max-height: 800px;
      }
   }
   &__sidebar {
      // border-right: 2px solid #000;
      width: 300px;
      flex: none;
      box-sizing: border-box;
      position: relative;
      &::after {
         content: "";
         position: absolute;
         z-index: 50;
         top: 0;
         bottom: 0;
         width: 2px;
         right: 0;
         background: #000000;
      }

      @media (max-width: 767.98px) {
         border: none;
         width: auto;
      }
   }
}
.home {
   @media (max-height: 850px) {
      padding-bottom: 80px;
   }
   .container {
      min-height: 100%;
   }
   &__content {
      min-height: 100%;
      @media (max-width: 767.98px) {
         border: none;
      }
   }
   &__sidebar {
      display: flex;
      flex-direction: column;
      @media (max-height: 850px) {
         // width: 270px;
      }
   }

   &__search {
      margin-left: auto;
      margin-top: -52px;
      margin-bottom: 18px;
      @media (max-width: 767.98px) {
         position: absolute;
      }
   }

   &__sidebar-image {
      // margin-left: -1px;
      // margin-right: -1px;
      width: stretch;
      overflow: hidden;
      margin-top: -1px !important;
      @media (max-width: 767.98px) {
         display: none;
      }
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__menu {
      flex: 1 1 auto;
      margin-right: -1px;
      padding-top: 40px;
      margin-bottom: 40px;
      overflow: hidden;
      @media (max-height: 850px) {
         margin-bottom: 20px;
         padding-top: 20px;
      }
   }

   &__menu-btn {
   }

   &__menu-body {
      height: 100%;
      max-height: 320px;
      padding-bottom: 100px !important;
      margin-left: 50px;
      border-bottom: 2px solid #000;
      @media (max-height: 850px) {
         padding-bottom: 20px !important;
         margin-left: 30px;
      }
      @media (max-width: 767.98px) {
         border: none;
      }
   }

   &__link {
      padding-left: 20px;

      &:not(:last-child) {
         margin-bottom: 15px;
         @media (max-height: 850px) {
            margin-bottom: 10px;
         }
      }
      @media (max-height: 850px) {
         .menu__link {
            font-size: 24px;
         }
      }
   }
   &__main {
      flex: 1 1 auto;
      @media (max-width: 767.98px) {
         position: relative;
      }
   }
   &__logo {
      position: relative;
      z-index: 10;
      padding: 0 55px;
      margin-top: -60px;
      width: 100%;
      margin-bottom: 15px;
      @media (max-width: 991.98px) {
         padding: 0 20px;
      }
      @media (max-width: 767.98px) {
         padding: 0;
         margin-top: unset;
      }
      svg {
         width: 100%;
         position: relative;
         z-index: 5;
         // height: auto;
         @media (max-width: 767.98px) {
            height: auto;
         }
      }
      &::before,
      &::after {
         content: "";
         position: absolute;
         background: $bg;
      }
      &::before {
         width: 60.5%;
         height: 95px;
         top: calc(100% - 70px);
         left: 0;
      }
      &::after {
         top: calc(100% + 16px);
         left: 0;
         width: 34.67%;
         height: 95px;
         @media (max-width: 767.98px) {
            width: 60.5%;
         }
      }
   }
   &__btn-sound {
      position: relative;
      z-index: 10;
      margin-left: 30px;
      display: flex;
      column-gap: 5px;
      align-items: center;
      justify-content: center;
      text-align: left;
      font-family: "Bellefair";
      font-size: 28px;
      @media (max-width: 767.98px) {
         width: fit-content;
         margin-top: -60px;
         margin-left: auto;
         font-size: 18px;
      }
   }
   &__btn-sound-icon {
      width: 34px;
      height: 34px;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (max-width: 767.98px) {
         width: 25px;
      }
   }
   @keyframes bgY {
      0% {
         background-position: 0 0px;
      }
      100% {
         background-position: 0 -10000px;
      }
   }
   &__main-image {
      width: 100%;
      height: 740px;
      margin-bottom: -400px;
      margin-top: -117px;
      // background-position: 0 -100%;
      position: relative;
      overflow-x: hidden;
      overflow: hidden;
      // backdropfilter: sepia(1);
      @media (max-width: 767.98px) {
         margin-top: 22px;
      }
      &-wrap {
         filter: brightness(0.9) grayscale(1) sepia(0.2) saturate(0);
         animation: bgY 1000s linear infinite;
         background: url(../img/image.jpg) left center/ 100% auto repeat-y;
         width: 100%;
         height: 100%;
      }
      span {
         z-index: 3;
         background: $bg;
         position: absolute;
      }

      span:nth-child(3) {
         width: 5.66%;
         height: 100%;
         left: 4.17%;
         top: 0;
      }
      span:nth-child(4) {
         width: 1.5%;
         height: 100%;
         left: 17.17%;
         top: 0;
      }
      span:nth-child(5) {
         width: 4.67%;
         height: 100%;
         left: 21.83%;
         top: 0;
      }
      span:nth-child(6) {
         width: 4.67%;
         height: 100%;
         left: 30%;
         top: 0;
      }
      span:nth-child(7) {
         width: 4.67%;
         height: 100%;
         left: 37.67%;
         top: 0;
      }
      span:nth-child(8) {
         width: 2%;
         height: 100%;
         left: 45.83%;
         top: 0;
      }
      span:nth-child(9) {
         width: 9.67%;
         height: 100%;
         left: 51%;
         top: 0;
      }
      span:nth-child(10) {
         width: 11.83%;
         height: 100%;
         left: 77.17%;
         top: 0;
      }
      span:nth-child(11) {
         width: 4.67%;
         height: 100%;
         left: 92.33%;
         top: 0;
      }
   }
}

[data-aos="line-to-left"] {
   transition-property: transform;
   transform: translateX(60px);
   transition-timing-function: ease-out !important;
   &.aos-animate {
      transform: translateX(0px);
   }
}
[data-aos="line-to-right"] {
   transition-property: transform;
   transform: translateX(-80px);
   transition-timing-function: ease-out !important;
   &.aos-animate {
      transform: translateX(0px);
   }
}
[data-aos="scale-x"] {
   transition-property: transform;
   transform: scaleX(1.1);
   transform-origin: right;
   transition-timing-function: cubic-bezier(0.71, -1.23, 0.22, 2.14) !important;
   &.aos-animate {
      transform: scaleX(1);
   }
}
.post {
   &__content {
      height: 100%;
      @media (min-height: 1200px) {
         max-height: 800px;
      }
      &::after {
         display: none;
      }
   }

   &__leftside {
   }

   &__logo {
   }

   &__search {
   }
   &__info-wrap {
      overflow: hidden;
      margin-left: 50px;
      position: relative;
      &::after {
         content: "";
         position: absolute;
         z-index: 50;
         top: 0;
         bottom: -20px;
         width: 2px;
         right: 0;
         background: #000000;
      }
   }
   &__info {
      padding-top: 100px;
      padding-right: 8px;
      padding-bottom: 20px;
      padding-left: 22px;
      border-bottom: 2px solid #000;
      margin-bottom: 20px;
   }

   &__descr {
      font-family: "PT Serif Caption";
   }

   &__author {
      font-size: 12px;
      margin-bottom: 40px;
   }

   &__buttons {
   }

   &__btn {
      &:not(:last-child) {
         margin-bottom: 40px;
      }
   }

   &__rightside {
      flex: 1 1 auto;
      height: 100%;
   }

   &__header {
   }

   &__scroll {
      height: 100%;
      // overflow: hidden;
   }

   &__main {
      padding-bottom: 27px;
      overflow-y: auto;

      &::-webkit-scrollbar {
         width: 0;
      }
      height: calc(100% + 136px);
      @media (min-height: 1200px) {
         height: calc(100% + ((100vh - 800px) / 2));
      }
   }

   &__slider {
      min-height: 46px;
      position: relative;
      &::after {
         content: "";
         position: absolute;
         z-index: 50;
         top: 0;
         bottom: -26px;
         width: 2px;
         right: 0;
         background: #000000;
      }
   }

   &__slider-wrapper {
   }

   &__slider-slide {
      width: 100%;
      height: 0;
      padding-bottom: 50%;
      position: relative;
      overflow: hidden;
      .image-large__slide {
         position: absolute;
         top: 0;
         left: 0;
      }
      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__text {
      font-size: 14px;
      line-height: 1.43;
      padding: 52px 19px 20px 18px;
      margin-left: 50px;
      border-bottom: 2px solid #000;
      position: relative;
      &::after {
         content: "";
         position: absolute;
         z-index: 50;
         top: 0;
         bottom: -26px;
         width: 2px;
         right: 0;
         background: #000000;
      }
   }
}
@keyframes logoT {
   0% {
      transform: translateX(-50%) rotate3d(0, 1, 0, 0deg);
      transition-timing-function: ease-out;
   }
   25% {
      transform: translateX(-50%) rotate3d(0, 1, 0, -40deg);
      transition-timing-function: ease-out;
   }
   75% {
      transform: translateX(-50%) rotate3d(0, 1, 0, 40deg);
      transition-timing-function: ease-out;
   }
   100% {
      transition-timing-function: ease-out;
      transform: translateX(-50%) rotate3d(0, 1, 0, 0deg);
   }
}
.logo {
   // background: #000;
   width: 151px;
   height: 151px;
   position: absolute;
   left: 10px;
   bottom: calc(100% + 25px);
   &__wrap {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $pink;
      border-radius: 50%;
      width: 100%;
      height: 100%;
      transform: translateX(-50%);
      &.animate {
         animation: logoT 3.5s linear;
      }
   }
   img {
      transform: translate3d(0, 16%, 20px);
   }
}

.btn-underline {
   font-size: 12px;
   line-height: 17px;
   display: block;
   cursor: pointer;
   position: relative;
   min-width: 85px;
   text-align: left;
   transition: 0.6s ease-out;
   &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 63px;
      height: 2px;
      background: #000;
      transition: 0.6s ease-out;
   }
   &:hover {
      padding-left: 15px;
      // &::before {
      //    left: 20px;
      // }
   }
}
.aside-btn {
   padding: 2px 7px;
   font-size: 14px;
   &__wrap {
      height: 32px;
      overflow: hidden;
      position: absolute;
      top: 424px;
      left: 0;
      transform-origin: top left;
      transform: rotate(-90deg) translate(-100%, 0);
   }
   &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 32px;
      width: 128px;
      background: $pink;
   }
   span {
      position: relative;
      z-index: 5;
   }
}
@keyframes logoLH {
   25% {
      letter-spacing: 0.09em;
      word-spacing: 0.07em;
   }
}
[data-aos="logoLH"] {
   &.header__logo {
      // word-spacing: 0.001px;
      letter-spacing: 0.09em;
      transition-timing-function: cubic-bezier(0.37, 0.58, 0.55, 0.99) !important;
      .caption {
         letter-spacing: 0.09em;
         transition: 1.5s ease-out;
         transition-timing-function: cubic-bezier(0.37, 0.58, 0.55, 0.99) !important;
      }
      .santa {
         letter-spacing: 0.09em;
         transition: 1.5s ease-out;
         transition-timing-function: cubic-bezier(0.37, 0.58, 0.55, 0.99) !important;
      }
      .space-1 {
         letter-spacing: 0.09em;
         transition: 1.5s ease-out;
         transition-timing-function: cubic-bezier(0.37, 0.58, 0.55, 0.99) !important;
      }
      .space-2 {
         letter-spacing: 0.09em;
         transition: 1.5s ease-out;
         transition-timing-function: cubic-bezier(0.37, 0.58, 0.55, 0.99) !important;
      }
      .space-3 {
         letter-spacing: 0.09em;
         transition: 1.5s ease-out;
         transition-timing-function: cubic-bezier(0.37, 0.58, 0.55, 0.99) !important;
      }
      .tahoma {
         letter-spacing: 0.09em;
         transition: 1.5s ease-out;
         transition-timing-function: cubic-bezier(0.37, 0.58, 0.55, 0.99) !important;
      }
   }
   &.aos-animate {
      word-spacing: -12px;
      letter-spacing: normal;
      .caption {
         letter-spacing: -0.03em;
      }
      .santa {
      }
      .space-1 {
         letter-spacing: -0.22em;
      }
      .space-2 {
         letter-spacing: -0.22em;
      }
      .space-3 {
         letter-spacing: -0.22em;
      }
      .tahoma {
         letter-spacing: -0.01em;
      }
   }
}
.header {
   margin-top: -105px;
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   position: relative;
   margin-bottom: 20px;
   transition: 2s ease-out;
   &__logo {
      font-size: 39px;
      line-height: 47px;
      word-spacing: -12px;
      text-align: right;
      margin-top: 0px;
      margin-left: -150px;
      // margin-right: -6px;
      cursor: pointer;
      .caption {
         font-family: "PT Serif Caption";
         letter-spacing: -0.03em;
      }
      .santa {
         font-family: "Santa Fe LET";
      }
      .space-1 {
         letter-spacing: -0.22em;
         display: inline-block;
         width: 4px;
      }
      .space-2 {
         letter-spacing: -0.22em;
         display: inline-block;
         width: 1px;
      }
      .space-3 {
         letter-spacing: -0.22em;
         display: inline-block;
         width: 3px;
      }
      .tahoma {
         letter-spacing: -0.008em;
      }
   }
   .search {
      position: absolute;
      right: 100%;
      bottom: 0;
   }
   &__menu {
      overflow: hidden;
      .menu__list {
         display: flex;
         align-items: center;

         flex-wrap: wrap;
      }
      .menu__item:not(:first-child) {
         margin-left: 42px;
      }
   }
}
.media {
   &.veranstaltungen .card__content::after {
      bottom: 25px;
   }
   &__content {
      display: block;
      height: 100%;
      @media (min-height: 1200px) {
         max-height: 800px;
      }
      &::before,
      &::after {
         display: none;
      }
   }

   &__logo {
   }

   &__aside-btn {
   }

   &__header {
      margin-left: 300px;
   }

   &__search {
   }

   &__slider {
      height: calc(100% + 136px);
      @media (min-height: 1200px) {
         height: calc(100% + ((100vh - 800px) / 2));
      }
   }
}
.catalog-slider {
   position: relative;
   z-index: 52;
   &::before,
   &::after {
      content: "";
      position: absolute;
      z-index: 50;
      top: 0;
      bottom: 136px;
      width: 2px;
      background: #000000;
      @media (min-height: 1200px) {
         bottom: calc((100vh - 800px) / 2);
      }
   }
   &::before {
      left: 0;
   }
   &::after {
      right: 0;
   }
   &__slider-wrapper {
      transition-duration: 1s;
      transition-timing-function: cubic-bezier(0.3, 0.45, 0.43, 1.03);
   }

   &__slide {
   }
   &__btn {
      position: absolute;
      top: 170px;
      transform: translateX(50%) rotate(-90deg);
      letter-spacing: 0.05em;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 26px;
      z-index: 55;
      width: 88px;
      background: $bg;
   }
   &__btn-next {
      transform: translateX(50%) rotate(-90deg);
      transform-origin: bottom;
      right: -2px;
   }
   &__btn-prev {
      transform: translateX(-50%) rotate(-90deg);
      transform-origin: top;
      left: -2px;
   }
}

.card {
   position: relative;
   // height: fit-content;
   max-height: 100%;
   // height: 100%;
   overflow-x: visible;
   &::-webkit-scrollbar {
      width: 0;
   }
   &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      width: 2px;
      background: #000;
      z-index: 5;
   }
   &__content {
      overflow-y: auto;
      position: relative;
      max-height: 100%;
      &::-webkit-scrollbar {
         width: 0;
      }
   }
   &__image {
      overflow: hidden;
      width: 100%;
      height: 0;
      padding-bottom: 100%;
      position: relative;
      .image__item {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         img {
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
      }
   }

   &__info {
      margin-left: 50px;
      padding-top: 40px;
      margin-bottom: 20px;
      &:first-child {
         padding-top: 100px;
      }
   }

   &__descr {
      border-bottom: 2px solid #000;
      padding-left: 20px;
   }

   &__descr-block {
      margin-bottom: 40px;
   }

   &__p {
      line-height: 20px;
   }

   &__p--small {
      font-size: 12px;
   }

   &__btn-underline {
   }

   &__btn {
      margin-left: 22px;
      margin-top: 10px;
      font-family: "Bellefair";
      font-size: 21px;
      line-height: 20px;
      padding: 5px;
      letter-spacing: -0.03em;
   }
}
.serif {
   font-family: "PT Serif Caption";
}
.pt-perspective {
   position: relative;
   width: 100%;
   height: 100%;
   perspective: 1200px;
   transform-style: preserve-3d;
}

.pt-page {
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   visibility: hidden;
   overflow: hidden;
   backface-visibility: hidden;
   transform: translate3d(0, 0, 0);
   animation-timing-function: ease-out !important;
}

.pt-page-current,
.no-js .pt-page {
   visibility: visible;
}

.no-js body {
   overflow: auto;
}

.pt-page-ontop {
   z-index: 999;
}

.wrapper {
   min-height: 100vh;
}
html,
body {
   min-height: 100vh;
}
.pt-page-current {
   z-index: 9999;
}
.pt-wrapper {
   height: 100vh;
   overflow: hidden;
}
.pt-page:not(.pt-page-current) {
   top: 150%;
   & *,
   & ::before,
   & ::after {
      transition-duration: 0s;
   }
}
.no-webp .home__main-image-wrap {
   background: url(../img/image.jpg) left center/100% auto repeat-y !important;
}
.no-webp .plug__main-image-wrap {
   background: url(../img/image.jpg) left center/100% auto repeat-y !important;
}

@keyframes ticker {
   100% {
      transform: translateX(-428.725px);
      // width: 12px;
   }
}
.page-plug {
   @media (min-height: 700px) and (max-width: 991.98px) {
      position: fixed;
      // top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      min-height: unset;
   }
}
.plug {
   min-height: 100vh;
   overflow: hidden;
   @media (max-height: 650px) {
      height: 750px;
   }
   &__container {
      max-width: 910px;
      margin: 0 auto;
      height: 100vh;
   }

   &__content {
      height: 100vh;
      display: flex;
      position: relative;
      z-index: 50;
      @media (max-width: 991.98px) {
         flex-direction: column;
         padding: 50px 0 0 80px;
         @media (max-height: 870px) {
            padding-top: 20px;
         }
         @media (max-height: 700px) {
            padding-top: 0;
         }
         @media (max-height: 650px) {
            height: 750px;
         }
      }
      @media (max-width: 400px) {
         padding-left: 30px;
      }
   }

   &__leftside {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: 305px;
      flex: none;
      margin: 120px 0 170px;
      border-right: 2px solid #000;
      @media (max-height: 900px) {
         margin: 70px 0 100px;
      }
      @media (max-height: 750px) {
         margin: 20px 0 40px;
      }
      @media (max-width: 991.98px) {
         margin: 0;
         overflow: hidden;
         border-right: none;
         // border-left: 2px solid #000;
         width: 100%;
         padding-left: 2px;
         position: relative;
         z-index: 10;
         &::before {
            content: "";
            position: absolute;
            top: 38px;
            left: 0;
            bottom: 0px;
            width: 2px;
            background: #000;
         }
      }
   }

   &__sponsors {
      margin-top: 18px;
      padding-bottom: 35px;
      @media (max-width: 991.98px) {
         margin-top: unset;
         padding-bottom: unset;
      }
      @media (min-width: 992px) and (max-height: 700px) {
         padding-bottom: unset;
      }
   }

   &__sponsors-row {
      display: flex;
      column-gap: 5px;
      justify-content: center;
      align-items: center;
      @media (max-width: 991.98px) {
         column-gap: 21px;
         justify-content: flex-start;
      }
      &:not(:last-child) {
         position: relative;
         margin-bottom: 23px;
         @media (max-width: 991.98px) {
            margin-bottom: -9px;
            margin-left: -14px;
         }
         &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: -2px;
            left: 34px;
            height: 2px;
            background: #000;
            @media (max-width: 991.98px) {
               // bottom: unset;
               // top: 0;
               bottom: 9px;
               left: 0;
               right: 83px;
            }
         }
      }
   }

   &__sponsors-item {
      display: block;
      &--1 {
         @media (max-width: 991.98px) {
            order: 2;
         }
         img {
            width: 69px;
            // height: 68px;
            filter: brightness(0.7);
         }
      }
      &--2 {
         @media (max-width: 991.98px) {
            order: 1;
            // margin-left: -10px;
         }
         img {
            width: 226px;
         }
      }
      &--3 {
         transform: translateX(10px);
         @media (max-width: 991.98px) {
            display: none;
         }
      }
   }

   &__rightside {
      flex: 1 1 auto;
      padding: 120px 0 170px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      @media (max-height: 900px) {
         padding: 70px 0 100px;
      }
      @media (max-height: 750px) {
         padding: 20px 0 40px;
      }
      @media (max-width: 991.98px) {
         margin-right: 17px;
         padding-top: 90px;
         flex: 1 1 auto;
         padding: 0;
         // justify-content: flex-start;
         // border-left: 2px solid #000;
         padding-left: 2px;
         &::before {
            content: "";
            position: absolute;
            top: 0px;
            // bottom: 112px;
            height: 675px;
            left: 0;
            width: 2px;
            background: #000;
         }
         @media (max-height: 870px) {
            &::before {
            }
         }
      }
   }
   &__main-image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -10;
      overflow-x: hidden;
      overflow: hidden;

      &-wrap {
         filter: brightness(0.9) grayscale(1) sepia(0.2) saturate(0);
         animation: bgY 1000s linear infinite;
         background: url("../img/image.jpg") left center / 100% auto repeat-y;
         width: 100%;
         height: 100%;
         transition-delay: background-size 1.6s;
      }
      span {
         z-index: 3;
         background: $bg;
         position: absolute;
      }

      span:nth-child(3) {
         width: 5.66%;
         height: 100%;
         left: 4.17%;
         top: 0;
      }
      span:nth-child(4) {
         width: 1.5%;
         height: 100%;
         left: 17.17%;
         top: 0;
      }
      span:nth-child(5) {
         width: 4.67%;
         height: 100%;
         left: 21.83%;
         top: 0;
      }
      span:nth-child(6) {
         width: 4.67%;
         height: 100%;
         left: 30%;
         top: 0;
      }
      span:nth-child(7) {
         width: 4.67%;
         height: 100%;
         left: 37.67%;
         top: 0;
      }
      span:nth-child(8) {
         width: 2%;
         height: 100%;
         left: 45.83%;
         top: 0;
      }
      span:nth-child(9) {
         width: 9.67%;
         height: 100%;
         left: 51%;
         top: 0;
      }
      span:nth-child(10) {
         width: 11.83%;
         height: 100%;
         left: 77.17%;
         top: 0;
      }
      span:nth-child(11) {
         width: 4.67%;
         height: 100%;
         left: 92.33%;
         top: 0;
      }
   }
   &__table {
      margin-bottom: 135px;
      max-width: 537px;
      margin-right: 3%;
      position: relative;
      height: 412px;
      // width: 89%;
      // background: $bg;
      &-bg {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: $bg;
         z-index: -5;
      }
      @media (min-width: 992px) and (max-height: 700px) {
         margin-bottom: 100px;
      }
      @media (max-width: 991.98px) {
         height: auto;
         position: relative;
         margin-bottom: 167px;
         margin-top: 350px;
         padding: 40px 0 0;
         transition-delay: 3s !important;
         @media (max-height: 870px) {
            // margin-top: 395px;
            margin-bottom: 80px;
         }
         @media (max-height: 800px) {
            // margin-top: 345px;
         }
         @media (max-height: 750px) {
            // margin-top: 305px;
            margin-top: 280px;
         }
         &-bg2-mobile {
            position: absolute;
            top: 0;
            right: 0;
            height: 233px;
            left: 53%;
            // width: 180px;
            background: $bg;
            @media (max-height: 750px) {
               left: 47%;
            }
         }
      }
   }
   &__logo {
      width: 367px;
      height: 367px;
      border-radius: 50%;
      background: $pink;
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 8px;
      left: -254px;
      z-index: 5;
      flex: none;
      transform: translateY(0vh);
      img {
         transform: translateY(10%);
         @media (max-width: 991.98px) {
            width: 230px;
         }
      }
      @media (max-width: 991.98px) {
         position: absolute;
         top: 170px;
         left: -18px;
         width: 310px;
         height: 310px;
         z-index: 30;
         @media (max-height: 870px) {
            // top: 57px;
            top: 120px;
         }
         @media (max-height: 700px) {
            top: 100px;
         }
         @media (max-height: 750px) {
            width: 270px;
            height: 270px;
            img {
               width: 200px;
            }
         }
      }
      &:not(.--mobile) {
         @media (max-width: 991.98px) {
            display: none;
         }
      }
      &.--mobile {
         @media (min-width: 992px) {
            display: none;
         }
      }
      @media (max-height: 870px) {
         // width: 270px;
         // height: 270px;
      }
   }
   &__ticker {
      font-family: "PT Serif Caption";
      line-height: 1.5;
      margin-bottom: 17px;
      overflow: hidden;
      color: $pink;
      font-style: italic;
      @media (max-width: 991.98px) {
         position: absolute;
         top: 775px;
         left: 0;
         width: 100%;
         margin-bottom: unset;
         z-index: 50;
         &:not(.--mobile) {
            display: none;
         }
         @media (max-height: 870px) {
            top: 745px;
         }
         @media (max-height: 870px) {
            top: unset;
            bottom: 20px;
         }
      }
      @keyframes drop {
         to {
            transform: translateY(0vh);
         }
      }
      &.--mobile {
         transform: translateY(-100vh);
         animation: drop 0.7s ease 1.8s forwards;
         @media (min-width: 992px) {
            display: none;
         }
      }
      span {
         font-size: 14px;
         animation: ticker 20s linear infinite;
         display: block;
         width: fit-content;
         white-space: nowrap;
         // box-shadow: none !important;
         // text-shadow: none !important;
         // -webkit-text-stroke: none !important;
         // outline: none !important;
         // appearance: none !important;
         // text-decoration: none !important;
      }
   }

   &__text-logo {
      position: relative;
      z-index: 10;
      margin-right: 30px;
      margin-bottom: 70px;
      max-width: 470px;
      @media (max-width: 991.98px) {
         max-width: 318px;
         width: calc(100% - 111px);
         position: absolute;
         top: 208px;
         left: 75px;
         right: 0;
         margin-right: 40px;
         z-index: 40;
         &:not(.--mobile) {
            display: none;
         }
         @media (max-height: 870px) {
            top: 158px;
         }
         @media (max-height: 750px) {
            top: 150px;
            width: calc(100% - 128px);
         }
         @media (max-height: 700px) {
            top: 130px;
         }
      }
      @media (max-width: 400px) {
         left: 30px;
      }
      & img {
         width: 100%;
      }
      &.--mobile {
         transform: translateY(-50vh);
         animation: drop 0.7s ease 1.7s forwards;
         @media (min-width: 992px) {
            display: none;
         }
      }
   }

   &__slider {
      margin-left: 123px;
      padding: 0 40px;
      @media (max-width: 991.98px) {
         padding: 0px 15px 0 12px;
         margin-left: unset;
      }
   }

   &__slider-wrapper {
      min-height: 185px;
   }

   &__slide {
      height: initial;
      // position: relative;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      transition: opacity 0s ease 0.7s;
      &::before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: $bg;
         transition: transform 0.4s ease;
         z-index: 5;
         pointer-events: none;
      }
      &:not(.swiper-slide-active) {
         // transform-origin: center bottom;
         // transition: transform 0.5s ease, opacity 0s ease 0.5s;
         // transform: rotate3d(1, 0, 0, 110deg);
         // opacity: 0;
         // position: absolute;
         // top: 0;
         // left: 0;
         // width: 100%;
         // height: 100%;
      }
      &.swiper-slide-active {
         z-index: 10 !important;
         opacity: 1;
         transition: opacity 0s ease 0.4s;
         &::before {
            transform: translateX(100%);
            transition: 0.7s ease 0.6s;
         }
         // transform-origin: center top;
         // animation: slide 2s linear;
         // position: absolute;
         // top: 0;
         // left: 0;
         // width: 100%;
         // height: 100%;
      }
   }
}
@keyframes slide {
   0% {
      transform: rotate3d(1, 0, 0, -90deg);
      opacity: 0;
   }
   25% {
      opacity: 0;
      transform: rotate3d(1, 0, 0, -90deg);
      transition-timing-function: ease-in-out;
   }
   25.00001% {
      opacity: 1;
      transform: rotate3d(1, 0, 0, -90deg);
      transition-timing-function: ease-in-out;
   }
   50% {
      transform: rotate3d(1, 0, 0, 50deg);
      transition-timing-function: ease-in-out;
   }
   65% {
      transform: rotate3d(1, 0, 0, -30deg);
      transition-timing-function: ease-in-out;
   }
   80% {
      transform: rotate3d(1, 0, 0, 20deg);
      transition-timing-function: ease-in-out;
   }
   95% {
      transform: rotate3d(1, 0, 0, -10deg);
      transition-timing-function: ease-in-out;
   }
}
.plug-card {
   &__text {
      &:not(:last-child) {
         margin-bottom: 28px;
      }
   }
   &__title {
      font-family: "PT Serif Caption";
      font-style: italic;
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 8px;
   }

   &__descr {
      margin-bottom: 10px;
   }

   &__date {
      font-family: "PT Serif Caption";
      font-style: italic;
      font-weight: 400;
      font-size: 16px;
      margin-bottom: 1px;
   }

   &__place {
      text-transform: uppercase;
   }
   &__btn {
      padding: 3px 6px 0;
      background: $pink;
      width: fit-content;
      font-family: "Bellefair";
      font-size: 21px;

      letter-spacing: -0.03em;
      @media (max-width: 991.98px) {
         min-width: 125px;
      }
      span {
         transition: 0.2s ease;
      }
      &:hover {
         border-color: #000;
         span {
            opacity: 0;
         }
      }
   }
   &__sponsor-mobile {
      display: block;
      position: absolute;
      right: 2px;
      bottom: 5px;
      @media (max-width: 991.98px) {
         width: 93px;
         right: 13px;
         bottom: 18px;
      }
   }
}
[data-aos="barcode"] {
   width: 0%;
   transition-property: padding, width;
   padding-left: 60px;
   transition-timing-function: ease-in, cubic-bezier(0.5, 0.69, 0.18, 1.18) !important;

   &.aos-animate {
      width: 100%;
      padding-left: 0;
   }
}
[data-aos="table"] {
   transition-property: transform;
   transform: translateY(-100vh);
   &.aos-animate {
      transform: unset;
      transform: translateY(0vh);
      // transition-delay: 0s !important;
   }
}

[data-aos="reverse-table"] {
   transition-property: transform;
   transform: translateY(100vh);
   &.aos-animate {
      // transform: translateY(0vh);
      transform: unset;
   }
}
